progress {
  width: 100%;
  height: 1rem;
  background-color: var(--gray-color);
}

progress::-webkit-progress-bar {
  background-color: var(--gray-color);
}

progress::-webkit-progress-value {
  background-color: var(--gray-dark-color);
}

progress::-moz-progress-bar {
  background-color: var(--gray-dark-color);
}

.progress {
  margin: 0.5rem 0;
}

.progress > p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
